<mat-toolbar class="header mat-elevation-z4">
   <div>
        <a class="a" routerLink="/">
            <img class="logo"src="assets/images/logopreta.png" alt="logo">
        </a>
   </div> 
   <div class="title-group">
        <h3 style="color: #114B5F;">
            <i class="material-icons v-middle" style="color: #114B5F;">
                {{icon}}
            </i> 
                {{ title }}
        </h3>
        <h3 class="d" style="color: #114B5F;" >
            <i class="material-icons v-middle" style="color: #114B5F;">
                military_tech
            </i> 
            CRUD by Whatabook
        </h3>
    </div>
</mat-toolbar>