<mat-card class="card">
    <mat-card-title style="color: #114B5F;">Criar novo produto</mat-card-title>
    <form>
        <mat-form-field appearance="outline" style=" width: 50%;">
            <mat-label style="color: #114B5F;"> Nome</mat-label>
            <input type="text" matInput [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 17%;">
            <mat-label>Preço (R$)</mat-label>
            <input style=" text-align: right;" matInput [(ngModel)]="product.price" name="price">
            <span matTextPrefix>R$&nbsp;</span>
            <span matTextSuffix>.00</span>
        </mat-form-field>
    </form>
</mat-card>
<div class="buttons">
    <button mat-raised-button (click)="createProduct()" style="width: 5.7rem; background-color: #114B5F; color: #FFF; ">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" style="width: 5.7rem; color: #FF0000; border-style: solid; border-width: 0.7px;">
        Cancelar
    </button>    
</div>
