.card {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 5px;
    color: #114b5f;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 15px 0px 0px 15px;
}